<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/errors.css">
</head>

<body>
    <div class="container">
        <div class="status-code">
            <h2>{{.StatusCode}}</h2>
        </div>
        <div class="status-code">
            <h2>{{.Message}}</h2>
        </div>

        {{if .Debug}}
        <div class="debug">
            <h3 class="danger">Debug Mode is On</h3>
            <h4>Stack Trace</h4>
            <pre>
                {{ .StackTrace}}
            </pre>
        </div>
        {{end}}
    </div>
</body>

</html>