body {
    padding: 20px;
    background-color: #0c0c0c;
}

body,
a {
    color: #b1b1b1;
    font-family: sans-serif;
}

li {
    padding: 4px 0;
}

.host {
    color: #888;
}

.score {
    color: #777;
}

.time {
    color: #666;
    padding: 10px 0;
}

.footer,
.footer a {
    color: #888;
}